<div>
{% if rahaa - hinta > 0 %}
    <p> Koska sinulla on {{ rahaa }} euroa, voit ostaa lihapiirakan, jonka hinta on {{ hinta }} euroa. </p>
{% else %}
    <p> Koska sinulla on vain {{ rahaa }} euroa, et voi ostaa lihapiirakkaa, jonka hinta on {{ hinta }} . </p>       
{% endif %}
</div>